/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e8f5f5;
    color: #333;
}


h1 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: calc(22px + 1vw);
}

header {
    background-color: #292727;
    color: white;
    padding: 0.6% 1.3%;
}

.header-content {
    text-align: left;
    gap: 10px;
    margin-bottom: 0.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 5vh;
    min-height: 50px;
    margin-right: 7px;
    margin-top: 5px;
}

#slogan {
    font-size: calc(9px + 0.15vw);
    color: lightgray;
    font-style: italic;
    text-align: left;
    margin-left: 4px;
}
#authors {
    font-size: calc(9px + 0.15vw);
    color: lightgray;
    font-style: italic;
    text-align: right;
}

#link {
    color: #fed1eb;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #204a53;
    color: white;
    width: 23vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userProfile {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.userDetails {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.UserName h3 {
    margin: 0;
    font-size: calc(17px + 0.15vw); 
    color: white; 
    padding-left: 5px;
    margin-bottom: 2px;
}

.loginRegister {
    display: flex; 
    padding-right: 3rem;
}

.loginRegister a {
    text-decoration: none;
    font-size: calc(12px + 0.15vw);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding-right: 3rem;
}

.loginRegister a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding-right: 3rem;
}

.profilePic {
    display: block;
    width: 18%;
    height: auto;
    border-radius: 50%; 
    overflow: hidden; 
    background-color: #ccc; 
}

.profilePic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Prevent image distortion */
}


.history {
    margin-top: 30px;
    padding: 20px;
    background-color: teal;
    border-radius: 25px;
}

.disclaimer {
    font-size: calc(7px+ 0.3vw);
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
    color: rgb(84, 81, 81);
    font-style: italic;
}



.useful-links {
    background-color: rgba(28, 28, 28, 0.6);
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: auto; /* Push this section to the bottom */
}

.useful-links h3 {
    font-size: calc(15px + 0.2vw);
    margin-bottom: 10px;
    color: #f5f5f5;
    text-align: left;
}

.useful-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.useful-links ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.useful-links ul li a {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.useful-links ul li a:hover {
    color: white;
}

.useful-links ul li img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%;
}




/* Plus button */
.plus-btn {
    color: #fed1eb;
    background-color: #a33f78 ;
    border: #fc8ccc solid 2px;
    border-radius: 10px;          /* Circular button */
    width: calc(2vw + 10px);      /* Dynamically sized width */
    height: calc(2vw + 10px);     /* Dynamically sized height */
    font-size: calc(1.5vw + 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-13px;
    right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plus-btn:hover {
    background-color: #861e59;  
}

/* Style the tooltip */
.plus-btn .tooltip {
    visibility: hidden; 
    background-color: #322f2f; 
    color: #dc96cf; /* White text */
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: calc(0.5vw + 9px);
    position: absolute;
    top: 110%; /* Position below the button */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap; /* Prevent text wrapping */
    opacity: 0; /* Fully transparent by default */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}

/* Show the tooltip on hover */
.plus-btn:hover .tooltip {
    visibility: visible; /* Make visible */
    opacity: 1; /* Fade in */
}



main {
    flex: 1;
    padding: 2%;
}

h2 {
    font-size: calc(30px + 0.3vw); 
    margin-bottom: 10px;
}

.upload-box {
    background-color: #cfe2e2;
    border: 2px dashed #777;
    border-radius: 20px;
    padding: 3%;
    padding-bottom: 5%;
    text-align: center;
    margin-bottom: 15px;
}

.upload-box p {
    font-size: calc(10px + 0.3vw);
    margin-top: 20px;
    color: grey;
}

#uploadIcon {
    width: 5%;
    height: auto;
    margin: 0;
    padding: 0;
}

#uploadFile {
    width: calc(10vw + 80px); 
    max-width: 300px; 
    padding: 10px; 
    font-size: calc(12px + 0.2vw); 
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    font-size: calc(15px + 0.3vw);
    padding: 10px;
    color: #fed1eb;
    background-color: #a33f78 ;
    transition: 0.2s all ease;
    border: #fc8ccc solid 2px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;

}

.btn:hover {
    background-color: #861e59;  
}



.previous-maps{
    position: relative;
    word-wrap: break-word;
}
.previous-maps h2 {
    font-size: calc(18px + 0.3vw); 
    margin-bottom: 20px;
    padding-top: 7px;
}
.previous-maps ul {
    list-style-type: none;
    margin-top: 7%;
}

.previous-maps li {
    display: flex;
    font-size: calc(15px + 0.3vw);
    align-items: center;
    padding-left: 5px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.previous-maps li:hover{
    background-color:  rgb(252, 140, 204, 0.55);
}
.previous-maps .map-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}
.previous-maps .map-link:hover {
    text-decoration: underline;
    background-color: transparent;
}
/* Highlight the active map in the sidebar */
.previous-maps .highlight {
    background-color: rgba(196, 105, 156, 0.55); /* Same as hover color */
    border-radius: 5px; /* Optional for consistent styling */
    color: white; /* Maintain text visibility */
}


#mapNameForm {
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: calc(14px + 0.3vw); 
}

#mapName {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    padding: 7px;
    font-size: calc(14px + 0.3vw); 
    width: calc(30% + 1vw); 
    max-width: 400px; 
    min-width: 200px;
    border: 1px solid #ccc;
    transition: all 0.3s ease; /* Smooth resizing transition */
}


/* Centering the progress bar and text */
#progress-container {
    display: flex;
    flex-direction: column;  /* Stack the progress bar and text vertically */        
    width: 100%;
    align-content: center;
    padding: 10%;   
}

/* the progress bar itself */
progress {
    width: 100%;               
    height: 40px;             
    border-radius: 15px;
    border: 4px solid #8E6D1E;
    background: transparent;
    padding: 3px;
          
}

/* Customizing the color of the progress bar value */
progress::-webkit-progress-bar {
    background-color: transparent; /* Background color of the bar */
    border-radius: 10px;        /* Rounded corners for the progress bar */
    border: 6px rgb(68, 20, 20);
}

progress::-webkit-progress-value {
    background-image: linear-gradient(to right, #fc8ccc , #a97e19); 
    border-radius: 10px;        /* Rounded corners for the progress value */
}

progress::-moz-progress-bar {
    background-color: linear-gradient(to right, #fc8ccc , #a97e19);
    border-radius: 10px;        /* Rounded corners for the progress value */
    border: 6px rgb(68, 20, 20);
}

/* Styling the progress text */
#progressText {
    font-size: calc(20px + 0.3vw);
    margin-top: 10px;
    color: #333;
}




/* Result container for the text summary and mind map */
#results-container {
    display: flex; /* Set to flex to ensure children are aligned properly */
    flex-direction: column; /* Align items in a row */

}

/* Individual result boxes */
.result-box {
    background-color:#dfd6b9;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 20px;             
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3); /* Optional box shadow */
    text-align: center;            /* Center the text inside */
    flex: 1;            
}

.results-container-row {
    display: flex; /* Lay result boxes in a row */
    justify-content: space-evenly; /* Space between result boxes */
    align-items: flex-start; /* Align items at the top */
    flex-wrap: nowrap; /* Ensure boxes remain in one row */
    gap: 20px; /* Spacing between result boxes */
}
/* Title inside result box */
.result-box h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #333;
}

.result-box button {
    margin-top: 20px;
}

.result-box button:hover {
    background-color: #861e59;   /* Darker shade on hover */
}

/* Responsive design: Stack boxes on smaller screens */
@media (max-width: 768px) {
    .plus-btn {
        width: 40px; /* Fallback size for smaller screens */
        height: 35px;
        font-size: 30px;
    }
    .plus-btn .tooltip {
        font-size: 9px;
    }

    #mapName {
        width: 80%; /* Use a relative width for smaller screens */
        font-size: 16px; /* Ensure readability on smaller devices */
    }

    .plus-btn {
        width: 40px; /* Adjust width for smaller screens */
        height: 35px; /* Adjust height */
        font-size: 30px; /* Adjust font size */
    }

    .previous-maps h2 {
        font-size: 16px; /* Adjust heading size for smaller screens */
    }

    .results-container {
        flex-direction: column;    /* Stack items vertically */

    }

    .result-box {
        width: 100%;               /* Full width on smaller screens */
    }
}

#map-name-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.uploaded-files-info {
    display: block;
    padding: 10px;
    color: #555;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: calc(14px + 0.3vw);
}
